<div class="container">
  <main>
    <div class="image">
      <img src="assets/img/me.jpeg" alt="Sidnei Becker" />
    </div>
    <p>
      Olá, meu nome é <strong>Sidnei Becker</strong>. Atualmente sou
      Desenvolvedor FullStack na
      <a
        href="https://www.sysmo.com.br"
        target="_blank"
        title="Ir para o site da Sysmo Sitemas"
        >Sysmo Sistemas</a
      >.
    </p>
    <p>
      Foco no desenvolvimento de Web Services, plataformas web e aplicativos
      móveis.
    </p>
    <p>
      Também atuo na publicação e manutenção de aplicativos de clientes nas
      lojas Google Play e App Store.
    </p>
  </main>
  <section>
    <a
      class="mail"
      title="sidibecker@hotmail.com"
      href="mailto:sidibecker@hotmail.com"
      (click)="visit('email')"
    ></a>
    <a
      class="github"
      title="Ir para o meu Github"
      target="_blank"
      href="https://github.com/SidiBecker"
      (click)="visit('github')"
    ></a>
    <a
      class="linkedin"
      title="Ir para o meu Linkedin"
      target="_blank"
      href="https://www.linkedin.com/in/sidibecker/"
      (click)="visit('linkedin')"
    ></a>
  </section>
  <footer>
    <span>© 2022 Sidnei Becker</span>
  </footer>
</div>
